// $primary-color: #DF224C;
// $dark-color: #10131E;
// $bit-darker-color: #171B28;
// $lighter-color: #4D5364;
// $text-color: #F4F4F4;


$primary-color: #00ADB5;
$dark-color: #222831;
$bit-darker-color: #393E46;
$lighter-color: #EEEEEE;
$text-color: #F4F4F4;